.gallery-title {
    font-family: "Permanent Marker", cursive;
    font-size: 4rem;
    text-align: center;
    color: #2B5749;
    margin-top: 50px;
}

.sloth-container {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.sloth-article {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.sloth-photo {
    width: 375px;
    height: 400px;
    border-radius: 1.5rem;
    border-color: #2B5749;
    border-style: solid;
    border-width: 4px;
    object-fit: cover;
}

.sloth-data {
    width: 328px;
    height: 400px;
    background-image: linear-gradient(rgba(255, 255, 255, .7)), url("../assets/leafy-background.webp");
    box-shadow: 0 8px 24px black;
    border-radius: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sloth-title {
    font-family: "Permanent Marker", cursive;
    font-weight: 500;
    color: green;
    margin-bottom: .75rem
}



