.hero-section {
    display: flex;
    max-height: 500px;
}

.hero-section-left {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.hero-section-right {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../assets/leafy-background.webp");
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box {
    flex-basis: 50%;
}

.hero-sloth-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-credit-section {
    background-color: hsla(34, 78%, 91%, 0.25)
}

.photo-credit {
    margin-left: 1rem;
    font-size: 0.8rem;
    font-style: italic;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: hsla(34, 78%, 91%, 1);
    color: #2B5749
}

.hero-description {
    background-color: rgba(43, 87, 73, 0.3);
    padding: 2rem;
    border-radius: 1rem;
    width: 80%;
    font-size: 1.4rem;
    line-height: 1.5;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 2rem;
    background-color: hsla(34, 78%, 91%, 0.25);
    ;
}

.welcome-title {
    font-size: 4em;
    margin-bottom: 1rem;
    color: #2B5749;
}

.welcome-description {
    font-size: 2.5rem;
    font-style: italic;
}

.video-section {
    min-height: 400px;
    background-color: rgba(221, 199, 174, 0.7);
    display: flex;
    gap: 2rem;
    padding: 3rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    text-align: center;
}

.video-description-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #2B5749;
}

.video-description {
    width: 80%;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.video-iframe-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.sloth-word-section {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
        url("../assets/jungle.webp");
    background-size: cover;
    background-position: center;
    min-height: 200px;
    background-color: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sloth-video {
    width: 100%;
    height: 400px;
    border-radius: 0.5rem;;

}

.video-credit {
    font-size: .8rem;
    align-self: flex-end;
    font-style: italic;
}

.sloth-word-section h3 {
    font-size: 2rem;
    width: 80%;
    text-align: center;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}

footer {
    margin-top: 0px;
}