.box {
    flex-basis: 50%;
}

main a[href] {
    font-style: italic;
    font-weight: bold;
    color: #2B5749;
    text-decoration: underline;
}

.hero-section {
    padding: 4rem;
    display: flex;
    align-items: center;
    height: 600px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../assets/sloth.webp");
    background-size: cover;
    font-family: "Permanent Marker", cursive;
    color: rgba(255, 255, 255, 0.7)
}

.photo-credit-section {
    background-color: hsla(34, 78%, 91%, 0.25)
}

.photo-credit {
    margin-left: 1rem;
}

.hero-title {
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.7)
}

.hero-description {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    font-size: 3rem;
    font-style: italic;
}

.accent-text {
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    color: #eb6a0e;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-image: linear-gradient(rgba(255, 255, 255, .7)), url("../assets/leafy-background.webp");
    background-size: cover;
}

.welcome-title {
    font-size: 4em;
    margin-bottom: 1rem;
    color: #2B5749;
}

.welcome-description {
    font-size: 2.5rem;
    font-style: italic;
}

.welcome-more-info-section {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.welcome-sloth-image {
    padding: 3rem;
}

.sloth-photo {
    width: 100%;
    height: auto;
}

.welcome-section-article {
    font-family: "Permanent Marker", cursive;
    color: #555555;
    background-color: rgba(221, 199, 174, 0.7);
    border-radius: 2rem;
    padding: 3rem;
    font-size: 2rem;
    line-height: 1.5;
}

.welcome-section-article h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: #2B5749;
}

.video-section {
    min-height: 400px;
    background-color: rgba(221, 199, 174, 0.7);
    display: flex;
    gap: 2rem;
    padding: 3rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    text-align: center;
}

.video-description-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #2B5749;
}

.video-description {
    width: 80%;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.video-iframe-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.sloth-word-section {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
        url("../assets/jungle.webp");
    background-size: cover;
    background-position: center;
    min-height: 200px;
    background-color: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sloth-video {
    width: 100%;
    height: 400px;
    border-radius: 0.5rem;
}

.video-credit {
    align-self: flex-end;

}

.sloth-word-section h3 {
    font-size: 2rem;
    width: 80%;
    text-align: center;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
}


footer {
    margin-top: 0px;
}