
* {
    margin: 0;
}

h1 {
    color: #733e0a;
}

footer {
    margin-top: 100px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #74b084;
    color: white;
    font-size: 20px;
    text-align: center;

}

